body{
    font-family: sans-serif;
}
header{
    background: linear-gradient(42.14deg, #9796F0 -17.31%, #FBC7D4 106.72%);
    padding-top: 20px;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    img{
        width: 100%;
        height: 25px;
    }
}
.search-button{
    input{
        padding: 10px 20px;
        border: 1px solid #000;
        outline: none;
        border-radius: 90px;
        width: 100%;
        background-color: transparent;
    }
}
.tel-number{
    input{
        background-color: #1FAB8A;
        padding: 10px 20px;
        border: 1px solid transparent;
        outline: none;
        border-radius: 90px;
        text-align: center;
    }
    ::placeholder{
        color: #fff;
    }
}
.user{
    img{
        width: 30px;
        height: 30px;
    }
}
.language{
    p{
        font-size: 15px;
        font-weight: 600;
        span{
            color: #8E8E8E
        }
    }
}
.links{
    background-color:  rgba(250, 251, 253, 0.44);
    width: 100%;
    // height: 100px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    // background-color: red;
    ul{
        display: flex;
        li{
            padding: 10px;
            list-style: none;
            a{
                text-decoration: none;
                padding: 30px 15px;
                color: #272525;
                position: relative;
                top: 0;
                left: 0;
                display: inline-block;
                &:hover{
                    background-color: #272525;
                    color: #fff;
                }
            }
        }
    }
}
.menu-text{
    p{
        font-size: 30px;
        color: #3C336C;
        font-weight: 600;
        z-index: 10;
    }
}
.menu-img{
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        right: -100px;
        z-index: 5;
    }
}
.circles{
    display: flex;
    justify-content: space-between;
    .circle{
        text-align: center;
        color: #272525;
        font-size: 18px;
        img{
            margin-bottom: 5px;
        }
        span{
            font-weight: 600;
        }
    }
}
.header-img{
    img{
        width: 100%;
        object-fit: cover;
        position: relative;
    }
}
.header-texts{
    h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #272525;
    }
    .about{
        font-size: 18px;
        margin-bottom: 60px;
        color: #272525;
    }
}
section#first{
    background-image: url("../img/Rectangle\ 85.png");
}
.popular{
    span{
        font-size: 25px;
        font-weight: 600;
        margin-right: 25px;
    }
    p{
        margin-top: 10px;
    }
    .grid-parent{
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-areas: 
        "one one two two" 
        "one one three four";
        grid-gap: 10px;
        .grid-item{
            img{
                width: 100%;
                
            }
        }
        .grid-item:nth-child(1){
            grid-area: one;
        }
        .grid-item:nth-child(2){
            grid-area: two;
        }
        .grid-item:nth-child(3){
            grid-area: three;
        }
        .grid-item:nth-child(4){
            grid-area: four;
        }
        p{
            text-align: right;
            color: #272525;
        }
    }
}
section#first{
    p{
        color: #454747;
    }
}
section#second{
    margin: 50px 0;
    p{
        color: #454747;
    }
    .btns{
        input{
            &:nth-child(1){
                border-radius: 60px;
                padding: 10px 20px;
                background-color: #272525;
                border: 1px solid transparent;
                text-align: center;
                &::placeholder{
                    color: #fff;
                }
            }
            &:nth-child(2){
                border-radius: 60px;
                padding: 10px 20px;
                background-color:  #EEF1F6;
                border: 1px solid transparent;
                text-align: center;
                &::placeholder{
                    color: #272525;
                }
            }
        }
    }
    .creative{
        font-size: 50px;
        transform: rotate(-2deg);
        text-align: center;
        margin: 15px 0;
        span{
            &:nth-child(1){
                color: #C62E2A;
            }
            &:nth-child(2){
                color: blue;
            }
            &:nth-child(3){
                color: darkblue;
            }
            &:nth-child(4){
                color: purple;
            }
            &:nth-child(5){
                color: #000;
            }
            &:nth-child(6){
                color: red;
            }
            &:nth-child(7){
                color: yellow;
            }
            &:nth-child(8){
                color: green;
            }
        }
    }
}
section#third{
    margin: 50px 0;
    P{
        color: #454747;
        margin-bottom: 20px;
    }
    h1{
        font-size: 25px;
    }
    .examples{
        display: flex;
        .example{
            img{
                width: 100%;
            }
        }
    }
}
section#forth{
    margin: 50px 0;
    .parent{
        .col-6{
            &:nth-child(2){
                position: relative;
            }
        }
    }
    .rocets{
        display: flex;
        img{
            &:nth-child(1){
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &:nth-child(3){
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    .form-input input{
        border: none;
        outline: none;
        border-bottom: 1px solid #272525;
    }
}
.three{
    font-size: 22px;
    color: #222227;
    padding-top: 90px;
}
section#fives{
    margin: 100px 0;
    p{
        font-size: 30px;
        font-weight: 600;
        color: #222227;
    }
    .brands{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        width: 100%;
    }
}
footer{
    padding: 50px 0;
    .parent{
        .col-4, .col-2{
            p.p{
                color: red;
                font-size: 20px;
                color: #272525;
                font-weight: 600;
            }
            p{
                font-size: 18px;
                color: #454747;
                margin-bottom: 15px;
            }
            a{
                color: #272525;
            }
        }
        .col-4{
            .icons{
                i{
                    margin: 10px;
                    font-size: 25px;
                    color: #1877F2;
                    &:nth-child(1){
                        color: #1877F2;
                    }
                    &:nth-child(2){
                        color: #EC3397;
                    }
                    &:nth-child(3){
                        color:  #0A66C2;
                    }
                }
            }
            input{
                padding: 10px 20px;
                border-radius: 15px;
                border: 2px solid #272525;
            }
        }
    }
}
.last-text{
    text-align: center;
    color:  #9FA3B2;
}

// responsive
@media(max-width: 1400px){

}
@media(max-width: 1200px){
    .logo{
    img{
        width: 80%;
        height: 25px;
    }
    .search-button{
        input{
            padding: 10px 20px;
            border: 1px solid #000;
            outline: none;
            border-radius: 90px;
            width: 100%;
            background-color: transparent;
        }
    }
}
.brands{
    .col-2:nth-child(4){
        display: none;
    }
    .col-2:nth-child(5){
        display: none;
    }
    
}
    
}
@media(max-width: 992px){
    .logo{
    img{
        width: 80%;
        height: 25px;
    }
    }
.search-button{
    input{
        display: none;
    }
}
.user{
    img{
        display: none;
    }
}
.language{
    p{
        display: none;
    }
}
.menu-text{
    display: none;
}
.menu-img{
    display: none;
}
.brands{
    .col-2:nth-child(3){
        display: none;
    }
    .col-2:nth-child(4){
        display: none;
    }
    .col-2:nth-child(5){
        display: none;
    }
    
}
.rocets{
    display: none;
}
    
}
@media(max-width: 768px){
    .brands{
        .col-2{
            display: none;
        }
    }
}
@media(max-width: 576px){
    .brands{
        .col-2{
            display: none;
        }
    }
}
